#camera-container {
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column; 
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#snap {
    margin-top: 10px;
    background-color: #000; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    width: 50px;
    height: 55px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.camera-icon {
    filter: none;
    padding-left: 13px;
    width: 55px;
    height: 55px; 
    fill: #fff;
}

.thumbnail-container {
    position: absolute;
    bottom: -50px;
    left: 50px;
    display: flex;
    align-items: center;
}

.thumbnail img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.image-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
}

.menu-icon2 {
    position: absolute;
    bottom: -20px;
    right: 25px; 
    width: 40px;
    height: 40px;
    cursor: pointer;
} 