.new-note-image-container {
    margin: 60px 0;
}

.new-note-image-container img {
    width: 300px;
    height: 250px;
    margin-right: 10px;
    filter: invert(1); /* makes the icon white */
}

.new-note-below-image {
    margin-bottom: 32px;
}

.start-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    position: relative;
}

.start-button-container .sign-in-button {
    width: 120px;
    height: 45px;
    border-radius: 25px;
    border: 0.5px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(141, 141, 141);
    font-weight: bold;
    box-shadow: none;
}

.menu-icon {
    width: 40px; 
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    filter: brightness(0) invert(1); 
  }