.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212; 
  color: #ffffff; /* light text for dark mode */
}

.sign-in-button {
  background-color: #6200ea; /* primary button color */
  color: white;
}

.input-field {
  color: white;
}
